<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            {{ if .Site.Data.contact.phone }}
            <li><strong>Telefon: </strong><a href="tel:{{ .Site.Data.contact.phone }}">{{ .Site.Data.contact.phone }}</a></li>
            {{ end }}
            {{ if .Site.Data.contact.addressraw }}
            <li><strong>Adres: </strong>{{ .Site.Data.contact.addressraw }}</li>
            {{ end }}
            {{ if .Site.Data.contact.email }}
            <li><strong>E-posta: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
                {{ .Site.Data.contact.email }}</a></li>
              {{ end }}
          </ul>
          <!--
          <ul>
            <li class="zerostatic"><a href="https://www.zerostatic.io">www.zerostatic.io</a></li>
          </ul>
          -->
        </div>
      </div>
    </div>
  </div>
</div>
